@import "tailwindcss";

.App {
  height: 100vh;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  gap: 2vw;
  background-color: rgb(16, 15, 15);
  flex-direction: column;
}

.dataCard {
  background-color: rgb(28, 27, 26);
  border-radius: 0.5em;
  /* border-color: white;
  border-width: 500px; */
  box-shadow: 1px 1px 50px black;
  padding: 20px;
  height: 800px;
}

.dataCard:hover {
  box-shadow: 1px 1px 50px rgb(206, 205, 195);
  transition: 1s;
}

h1 {
  font-size: 100px;
  color: rgb(206, 205, 195);
  font-weight: 800;
}
h2 {
  font-size: 20px;
  color: rgb(135, 133, 128);
  margin-top: -2rem;
}

a {
  color: rgb(208, 162, 21);
}
/* 
.revenueCard {
  width: 92%; 
  height: 0;
} */

/* .customerCard {
  width: 50%; 
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
} */