
@import "tailwindcss";

.App {
  height: 100vh;
  max-width: 2000px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  gap: 2vw;
  background-color: rgb(16, 15, 15);
  flex-direction: column;
}

/* .dataCard {
  background-color: rgb(28, 27, 26);
  border-radius: 0.5em;
  box-shadow: 1px 1px 50px black;
  padding: 20px;
  height: 800px;
  margin-bottom: 200px;
  width:100%
}

.dataCard:hover {
  box-shadow: 1px 1px 50px rgb(206, 205, 195);
  transition: 1s;
} */

.inText {
  color: rgb(208, 162, 21);
  font-weight: 800;
  font-size: 20px;
}

h1 {
  font-size: 100px;
  color: rgb(206, 205, 195);
  font-weight: 800;
}
h2 {
  font-size: 20px;
  color: rgb(135, 133, 128);
  margin-top: -2rem;
}

a {
  color: rgb(208, 162, 21);
}
/* 
.revenueCard {
  width: 92%; 
  height: 0;
} */

/* .customerCard {
  width: 50%; 
  height: 20rem;
}

.categoryCard {
  width: 40%;
  height: 20rem;
} */